@tispr:registry=http://nexus.internal.tispr.com/repository/npm-hosted/
//nexus.internal.tispr.com/repository/npm-hosted/:_auth=dXNlcjpPUlY1YndDTmJnVkh6WUloUk56ZFA0UzBqeA==

strict-ssl=false
always-auth=false

package-lock=false
